li{
    
    width: 100%;
    padding: 20px 10px;
    border-bottom: 1px solid #ccc;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

/*li:hover{
    cursor: pointer;
    border: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}*/

.Content{

}

.Remove{
    float: right;
    font-size: 20px;
}

.Remove:hover{
    color: red;
}


